.category {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 2em;
  &-preview {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &-heading--text {
    font-size: 1.2em;
    margin-bottom: 1.2em;
    text-transform: uppercase;
    cursor: pointer;
  }
}
