html {
  // font-size: 62.5%;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Bebas Neue';
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  /* -moz-osx-font-smoothing: grayscale; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}
